  body {
  	display: flex;
  	min-height: 100vh;
  	flex-direction: column;
  }

  main {
  	flex: 1 0 auto;
  }
  blockquote{
  	margin:20px 0;
  	padding-left: 1.5rem;
  	border-left: 5px solid #006064;
  }
}
